<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Energy Score Bar0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,272},{270,43}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,43}}</string>
                <key>sourceSize</key>
                <string>{274,47}</string>
            </dict>
            <key>Energy Score Bar0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,272},{270,43}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,43}}</string>
                <key>sourceSize</key>
                <string>{274,47}</string>
            </dict>
            <key>Energy Score Bar0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,272},{270,43}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,43}}</string>
                <key>sourceSize</key>
                <string>{274,47}</string>
            </dict>
            <key>Energy Score Bar0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,546},{270,43}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,43}}</string>
                <key>sourceSize</key>
                <string>{274,47}</string>
            </dict>
            <key>Energy Score Bar0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,546},{270,43}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,43}}</string>
                <key>sourceSize</key>
                <string>{274,47}</string>
            </dict>
            <key>Energy Score Bar0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,546},{270,43}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,43}}</string>
                <key>sourceSize</key>
                <string>{274,47}</string>
            </dict>
            <key>Energy Score Bar0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,546},{270,43}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,43}}</string>
                <key>sourceSize</key>
                <string>{274,47}</string>
            </dict>
            <key>Energy Score Bar0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,546},{270,43}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,43}}</string>
                <key>sourceSize</key>
                <string>{274,47}</string>
            </dict>
            <key>Energy Score Bar0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,546},{270,43}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,43}}</string>
                <key>sourceSize</key>
                <string>{274,47}</string>
            </dict>
            <key>Energy Score Bar0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,274},{270,43}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,43}}</string>
                <key>sourceSize</key>
                <string>{274,47}</string>
            </dict>
            <key>Energy Score Bar0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,272},{270,43}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,43}}</string>
                <key>sourceSize</key>
                <string>{274,47}</string>
            </dict>
            <key>Energy Score Bar0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,272},{270,43}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,43}}</string>
                <key>sourceSize</key>
                <string>{274,47}</string>
            </dict>
            <key>Energy Score Bar0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,227},{270,43}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,43}}</string>
                <key>sourceSize</key>
                <string>{274,47}</string>
            </dict>
            <key>Energy Score Bar0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,227},{270,43}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,43}}</string>
                <key>sourceSize</key>
                <string>{274,47}</string>
            </dict>
            <key>Energy Score Bar0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,182},{270,43}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,43}}</string>
                <key>sourceSize</key>
                <string>{274,47}</string>
            </dict>
            <key>Energy Score Bar0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,182},{270,43}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,43}}</string>
                <key>sourceSize</key>
                <string>{274,47}</string>
            </dict>
            <key>Energy Score Bar0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,137},{270,43}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,43}}</string>
                <key>sourceSize</key>
                <string>{274,47}</string>
            </dict>
            <key>Energy Score Bar0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,137},{270,43}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,43}}</string>
                <key>sourceSize</key>
                <string>{274,47}</string>
            </dict>
            <key>Energy Score Bar0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,92},{270,43}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,43}}</string>
                <key>sourceSize</key>
                <string>{274,47}</string>
            </dict>
            <key>Energy Score Bar0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,92},{270,43}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,43}}</string>
                <key>sourceSize</key>
                <string>{274,47}</string>
            </dict>
            <key>Energy Score Bar0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,47},{270,43}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,43}}</string>
                <key>sourceSize</key>
                <string>{274,47}</string>
            </dict>
            <key>Energy Score Bar0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,47},{270,43}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,43}}</string>
                <key>sourceSize</key>
                <string>{274,47}</string>
            </dict>
            <key>Energy Score Bar0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,953},{270,43}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,43}}</string>
                <key>sourceSize</key>
                <string>{274,47}</string>
            </dict>
            <key>Energy Score Bar0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,908},{270,43}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,43}}</string>
                <key>sourceSize</key>
                <string>{274,47}</string>
            </dict>
            <key>Energy Score Bar0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,863},{270,43}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,43}}</string>
                <key>sourceSize</key>
                <string>{274,47}</string>
            </dict>
            <key>Energy Score Bar0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{270,43}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,43}}</string>
                <key>sourceSize</key>
                <string>{274,47}</string>
            </dict>
            <key>Energy Score Bar0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{270,43}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,43}}</string>
                <key>sourceSize</key>
                <string>{274,47}</string>
            </dict>
            <key>Energy Score Bar0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{270,43}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,43}}</string>
                <key>sourceSize</key>
                <string>{274,47}</string>
            </dict>
            <key>Energy Score Bar0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{270,43}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,43}}</string>
                <key>sourceSize</key>
                <string>{274,47}</string>
            </dict>
            <key>Energy Score Bar0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{270,43}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,43}}</string>
                <key>sourceSize</key>
                <string>{274,47}</string>
            </dict>
            <key>Energy Score Bar0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{270,43}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,43}}</string>
                <key>sourceSize</key>
                <string>{274,47}</string>
            </dict>
            <key>Energy Score Bar0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,47},{270,43}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,43}}</string>
                <key>sourceSize</key>
                <string>{274,47}</string>
            </dict>
            <key>Energy Score Bar0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{270,43}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,43}}</string>
                <key>sourceSize</key>
                <string>{274,47}</string>
            </dict>
            <key>Energy Score Bar0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,2},{270,43}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,43}}</string>
                <key>sourceSize</key>
                <string>{274,47}</string>
            </dict>
            <key>Energy Score Bar0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,2},{270,43}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,43}}</string>
                <key>sourceSize</key>
                <string>{274,47}</string>
            </dict>
            <key>Energy Score Bar0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,2},{270,43}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,43}}</string>
                <key>sourceSize</key>
                <string>{274,47}</string>
            </dict>
            <key>Energy Score Bar0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{270,43}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,43}}</string>
                <key>sourceSize</key>
                <string>{274,47}</string>
            </dict>
            <key>Energy Score Bar0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{270,43}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,43}}</string>
                <key>sourceSize</key>
                <string>{274,47}</string>
            </dict>
            <key>Energy Score Bar0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{270,43}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,43}}</string>
                <key>sourceSize</key>
                <string>{274,47}</string>
            </dict>
            <key>Energy Score Bar0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{270,43}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,43}}</string>
                <key>sourceSize</key>
                <string>{274,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>energy-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a723229c4b7dd44cae78c687247cc05:1/1$</string>
            <key>textureFileName</key>
            <string>energy-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
