<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CCC GF-Walking0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{199,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,310}}</string>
                <key>sourceSize</key>
                <string>{199,310}</string>
            </dict>
            <key>CCC GF-Walking0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{199,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,310}}</string>
                <key>sourceSize</key>
                <string>{199,310}</string>
            </dict>
            <key>CCC GF-Walking0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{199,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,310}}</string>
                <key>sourceSize</key>
                <string>{199,310}</string>
            </dict>
            <key>CCC GF-Walking0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{199,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,310}}</string>
                <key>sourceSize</key>
                <string>{199,310}</string>
            </dict>
            <key>CCC GF-Walking0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{199,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,310}}</string>
                <key>sourceSize</key>
                <string>{199,310}</string>
            </dict>
            <key>CCC GF-Walking0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{199,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,310}}</string>
                <key>sourceSize</key>
                <string>{199,310}</string>
            </dict>
            <key>CCC GF-Walking0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{199,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,310}}</string>
                <key>sourceSize</key>
                <string>{199,310}</string>
            </dict>
            <key>CCC GF-Walking0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{199,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,310}}</string>
                <key>sourceSize</key>
                <string>{199,310}</string>
            </dict>
            <key>CCC GF-Walking0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{199,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,310}}</string>
                <key>sourceSize</key>
                <string>{199,310}</string>
            </dict>
            <key>CCC GF-Walking0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{199,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,310}}</string>
                <key>sourceSize</key>
                <string>{199,310}</string>
            </dict>
            <key>CCC GF-Walking0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{199,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,310}}</string>
                <key>sourceSize</key>
                <string>{199,310}</string>
            </dict>
            <key>CCC GF-Walking0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,2},{199,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,310}}</string>
                <key>sourceSize</key>
                <string>{199,310}</string>
            </dict>
            <key>CCC GF-Walking0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,2},{199,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,310}}</string>
                <key>sourceSize</key>
                <string>{199,310}</string>
            </dict>
            <key>CCC GF-Walking0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,2},{199,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,310}}</string>
                <key>sourceSize</key>
                <string>{199,310}</string>
            </dict>
            <key>CCC GF-Walking0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,2},{199,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,310}}</string>
                <key>sourceSize</key>
                <string>{199,310}</string>
            </dict>
            <key>CCC GF-Walking0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{199,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,310}}</string>
                <key>sourceSize</key>
                <string>{199,310}</string>
            </dict>
            <key>CCC GF-Walking0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{199,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,310}}</string>
                <key>sourceSize</key>
                <string>{199,310}</string>
            </dict>
            <key>CCC GF-Walking0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{199,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,310}}</string>
                <key>sourceSize</key>
                <string>{199,310}</string>
            </dict>
            <key>CCC GF-Walking0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{199,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,310}}</string>
                <key>sourceSize</key>
                <string>{199,310}</string>
            </dict>
            <key>CCC GF-Walking0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{199,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,310}}</string>
                <key>sourceSize</key>
                <string>{199,310}</string>
            </dict>
            <key>CCC GF-Walking0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{199,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,310}}</string>
                <key>sourceSize</key>
                <string>{199,310}</string>
            </dict>
            <key>CCC GF-Walking0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,314},{199,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,310}}</string>
                <key>sourceSize</key>
                <string>{199,310}</string>
            </dict>
            <key>CCC GF-Walking0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,314},{199,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,310}}</string>
                <key>sourceSize</key>
                <string>{199,310}</string>
            </dict>
            <key>CCC GF-Walking0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,314},{199,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,310}}</string>
                <key>sourceSize</key>
                <string>{199,310}</string>
            </dict>
            <key>CCC GF-Walking0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,314},{199,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,310}}</string>
                <key>sourceSize</key>
                <string>{199,310}</string>
            </dict>
            <key>CCC GF-Walking0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,314},{199,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,310}}</string>
                <key>sourceSize</key>
                <string>{199,310}</string>
            </dict>
            <key>CCC GF-Walking0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,314},{199,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,310}}</string>
                <key>sourceSize</key>
                <string>{199,310}</string>
            </dict>
            <key>CCC GF-Walking0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,314},{199,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,310}}</string>
                <key>sourceSize</key>
                <string>{199,310}</string>
            </dict>
            <key>CCC GF-Walking0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,314},{199,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,310}}</string>
                <key>sourceSize</key>
                <string>{199,310}</string>
            </dict>
            <key>CCC GF-Walking0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,314},{199,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,310}}</string>
                <key>sourceSize</key>
                <string>{199,310}</string>
            </dict>
            <key>CCC GF-Walking0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,314},{199,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,310}}</string>
                <key>sourceSize</key>
                <string>{199,310}</string>
            </dict>
            <key>CCC GF-Walking0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,314},{199,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,310}}</string>
                <key>sourceSize</key>
                <string>{199,310}</string>
            </dict>
            <key>CCC GF-Walking0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,314},{199,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,310}}</string>
                <key>sourceSize</key>
                <string>{199,310}</string>
            </dict>
            <key>CCC GF-Walking0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,314},{199,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,310}}</string>
                <key>sourceSize</key>
                <string>{199,310}</string>
            </dict>
            <key>CCC GF-Walking0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,314},{199,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,310}}</string>
                <key>sourceSize</key>
                <string>{199,310}</string>
            </dict>
            <key>CCC GF-Walking0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,314},{199,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,310}}</string>
                <key>sourceSize</key>
                <string>{199,310}</string>
            </dict>
            <key>CCC GF-Walking0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{199,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,310}}</string>
                <key>sourceSize</key>
                <string>{199,310}</string>
            </dict>
            <key>CCC GF-Walking0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{199,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,310}}</string>
                <key>sourceSize</key>
                <string>{199,310}</string>
            </dict>
            <key>CCC GF-Walking0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{199,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,310}}</string>
                <key>sourceSize</key>
                <string>{199,310}</string>
            </dict>
            <key>lat capt gf0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,626},{158,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,359}}</string>
                <key>sourceSize</key>
                <string>{158,359}</string>
            </dict>
            <key>lat capt gf0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,626},{158,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,359}}</string>
                <key>sourceSize</key>
                <string>{158,359}</string>
            </dict>
            <key>lat capt gf0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,626},{158,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,359}}</string>
                <key>sourceSize</key>
                <string>{158,359}</string>
            </dict>
            <key>lat capt gf0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,626},{158,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,359}}</string>
                <key>sourceSize</key>
                <string>{158,359}</string>
            </dict>
            <key>lat capt gf0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,626},{158,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,359}}</string>
                <key>sourceSize</key>
                <string>{158,359}</string>
            </dict>
            <key>lat capt gf0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,626},{158,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,359}}</string>
                <key>sourceSize</key>
                <string>{158,359}</string>
            </dict>
            <key>lat capt gf0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,626},{158,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,359}}</string>
                <key>sourceSize</key>
                <string>{158,359}</string>
            </dict>
            <key>lat capt gf0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,626},{158,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,359}}</string>
                <key>sourceSize</key>
                <string>{158,359}</string>
            </dict>
            <key>lat capt gf0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,626},{158,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,359}}</string>
                <key>sourceSize</key>
                <string>{158,359}</string>
            </dict>
            <key>lat capt gf0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,626},{158,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,359}}</string>
                <key>sourceSize</key>
                <string>{158,359}</string>
            </dict>
            <key>lat capt gf0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,626},{158,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,359}}</string>
                <key>sourceSize</key>
                <string>{158,359}</string>
            </dict>
            <key>lat capt gf0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,626},{158,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,359}}</string>
                <key>sourceSize</key>
                <string>{158,359}</string>
            </dict>
            <key>lat capt gf0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,626},{158,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,359}}</string>
                <key>sourceSize</key>
                <string>{158,359}</string>
            </dict>
            <key>lat capt gf0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,626},{158,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,359}}</string>
                <key>sourceSize</key>
                <string>{158,359}</string>
            </dict>
            <key>lat capt gf0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,626},{158,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,359}}</string>
                <key>sourceSize</key>
                <string>{158,359}</string>
            </dict>
            <key>lat capt gf0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,626},{158,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,359}}</string>
                <key>sourceSize</key>
                <string>{158,359}</string>
            </dict>
            <key>lat capt gf0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,626},{158,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,359}}</string>
                <key>sourceSize</key>
                <string>{158,359}</string>
            </dict>
            <key>lat capt gf0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,626},{158,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,359}}</string>
                <key>sourceSize</key>
                <string>{158,359}</string>
            </dict>
            <key>lat capt gf0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,987},{158,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,359}}</string>
                <key>sourceSize</key>
                <string>{158,359}</string>
            </dict>
            <key>lat capt gf0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,987},{158,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,359}}</string>
                <key>sourceSize</key>
                <string>{158,359}</string>
            </dict>
            <key>lat capt gf0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,987},{158,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,359}}</string>
                <key>sourceSize</key>
                <string>{158,359}</string>
            </dict>
            <key>lat capt gf0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,987},{158,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,359}}</string>
                <key>sourceSize</key>
                <string>{158,359}</string>
            </dict>
            <key>lat capt gf0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,987},{158,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,359}}</string>
                <key>sourceSize</key>
                <string>{158,359}</string>
            </dict>
            <key>lat capt gf0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,987},{158,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,359}}</string>
                <key>sourceSize</key>
                <string>{158,359}</string>
            </dict>
            <key>lat capt gf0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,987},{158,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,359}}</string>
                <key>sourceSize</key>
                <string>{158,359}</string>
            </dict>
            <key>lat capt gf0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,987},{158,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,359}}</string>
                <key>sourceSize</key>
                <string>{158,359}</string>
            </dict>
            <key>lat capt gf0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,987},{158,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,359}}</string>
                <key>sourceSize</key>
                <string>{158,359}</string>
            </dict>
            <key>lat capt gf0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,987},{158,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,359}}</string>
                <key>sourceSize</key>
                <string>{158,359}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ActionsSheet.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8549f1bb49ab42f629dfe838d693fa7c:b546f62a564459bbc844b3d48cbff469:30e0ee8db7aeaffebfc0175e00099158$</string>
            <key>textureFileName</key>
            <string>ActionsSheet.png</string>
        </dict>
    </dict>
</plist>
